html, body {
	position:absolute; height:100%; width:100%; margin:0; padding:0;
	background:#fcfcfc; color:#000;
}

@font-face { font-family:'Alegreya'; font-weight:normal; src:url(Alegreya-Regular.ttf); }
@font-face { font-family:'Alegreya'; font-weight:bold; src:url(Alegreya-Bold.ttf); }

.editor {
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; -ms-box-sizing: border-box; box-sizing:border-box;
	position:absolute; width:100%; height:100%; padding:5% 20%;
	background:#fcfcfc url(img/lightpaperfibers.png) repeat; font:normal 1.7em/150% 'Alegreya',Georgia,serif;
	outline:none; overflow:auto; border:none; resize:none;
}
.editor:first-line { font-size:2em; line-height:2.4em; font-weight:bold; } /* need to fix this for when it's a div */

aside {
	position:fixed; width:16%; height:100%; padding:1%;
	font:90% FreeSans,Helvetica,sans-serif;
	opacity:0; -webkit-transition:opacity 300ms; -moz-transition:opacity 300ms; -o-transition:opacity 300ms; transition:opacity 300ms;
}
aside:hover, aside:focus, aside.visible { opacity:1; }
aside a, .add {
	display:block; padding:.5em; cursor:pointer; outline:none;
	color:#444; text-decoration:none;
	white-space:nowrap; overflow:hidden; text-overflow:hidden;
}
aside a:hover, aside a:focus { color:#000; }
aside .selected { color:#000; font-weight:bold; }

.add { display:inline-block; width:70%; font-size:120%; font-weight:bold; color:#777; }
.add:hover:before, .add:focus:before { content:'+ '; }
.add:hover, .add:focus { color:#000; margin-left:-.9em; }

.entries { height:80%; overflow-y:auto; }
.entries a { text-overflow:ellipsis; }

.item { list-style: none; }

footer { position:absolute; bottom:3em; padding:.5em; font-size:.7em; white-space:nowrap; opacity:.7; }
footer a { display:inline; padding:0; }


::-webkit-scrollbar { width:.2em; color:rgba(50,50,50,.3); }
::-webkit-scrollbar-track-piece { background-color:transparent; }

::selection { background-color:rgba(255,255,0,.3); }
::-moz-selection { background-color:rgba(255,255,0,.3); }

