html, body { height:100%; margin:0; background:#eee; }
body { width:100% }
#editor {
	position:absolute; width:60%; height:100%; left:20%; padding:1em 2em;
	background:#eee; font:2em/1.4 FreeSans,Helvetica,sans-serif; color:#333; text-shadow:0 0 1px #fff;
	outline:none; overflow:auto;
}
#aside {
	width:18%; padding:1em 0;
	font:80% FreeSans,Helvetica,sans-serif;
}
#aside a, #add {
	display:block; padding:.3em .5em .3em 1em; cursor:pointer;
	color:#315379; text-shadow:#fff 0 1px; text-decoration:none;
	white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
#aside .selected { color:#000; font-weight:bold; text-shadow:#fff 0 1px; }
#add { font-weight:bold; color:#000; }
