html, body {
	margin:0; padding:0; overflow: hidden;
	color:#000;
	background:#fcfcfc url(../img/noise.png) repeat;
	font:16px FreeSans,Helvetica,sans-serif;
}

@font-face { font-family:'Alegreya'; font-weight:normal; src:url(Alegreya-Regular.ttf); }
@font-face { font-family:'Alegreya'; font-weight:bold; src:url(Alegreya-Bold.ttf); }

.scrollbox {
	height: 100%;
	margin: 0 0 0 16%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	background-color: transparent;
}

body>.scrollbox{width:84%; position: fixed;}
.editor {
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box;
	position: absolute;
	width: 96%;
	margin: 3.5% 0 20% 4%; /* make sure cursor is not hidden in very top left corner */
	padding: 0 20% 0 0;
	min-height: 100%;
	font:normal 28px/150% 'Alegreya',Georgia,serif;
	outline:none; overflow:auto; border:none;
	-webkit-overflow-scrolling:touch; /* enable native smooth scrolling on iOS */
	word-wrap:break-word; /* prevent scrolling for long words or links without whitespace */
	-webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent grey flash when clicking */
}
[contenteditable]:empty::after { content:attr(data-placeholder); color:#ccc; }

#date {
	position: absolute;
	top: 56px;
	right: 15px;
	opacity: .2;
	font-size: 14px;
}

aside>.scrollbox{width:100%; margin:0;}
aside {
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box;
	position:fixed; width:16%; min-width:135px; height:100%;
	opacity:0; -webkit-transition:opacity 300ms; -moz-transition:opacity 300ms; -o-transition:opacity 300ms; transition:opacity 300ms;
	overflow:auto;
	-moz-user-select:none; -webkit-user-select:none; -ms-user-select:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent grey flash when clicking */
}
aside:hover, aside:focus, .show-aside aside { opacity:1; }

#search {
  display: block;
  z-index: 100;
  width: 92%;
  font-size: 16px;
  padding: 8px 5px 5px 10px;
  margin: 10px 10px 10px 7px;
  background: rgba(255,255,255,.8);
  border: 1px solid #999;
  border-radius: 25px;
  outline: none;
  height: 33px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#search.hide { height: 0; padding: 0; margin: 0; border: 0; }

aside a, .add {
	display:block; cursor:pointer; outline:none;
	color:#444; text-decoration:none;
	white-space:nowrap; overflow:hidden;
}

.add {
	position: relative;
	font-weight: normal;
	color: #999;
	padding: 6px 18px;
	font-weight: bold;
}
.add:hover, .add:focus { color:#000; }

.entries {
	height:auto; display:block;
	margin:0;
	padding:0;
	padding-top: 7px;
	-webkit-overflow-scrolling:touch; /* enable native smooth scrolling on iOS */
	list-style:none;
}
.entries a {
	text-overflow:ellipsis; height:1.35em; padding:.5em 0 .5em 1.2em;
	-webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent grey flash when clicking */
}
.entries a:hover, .entries a:focus, .entries .selected {
	color: #000;
}
.entries .selected {
	font-weight: bold;
}

.entries li:last-child {
	margin-bottom: 50px; /* some space after the last document in the list */
}


footer { position:fixed; bottom:0; padding:1em 2em; font-size:.7em; white-space:nowrap; opacity:.7; }
footer a { display:inline; padding:0; }


#remotestorage-widget {
  top: 0 !important;
	right: 3px !important;
}


::-webkit-scrollbar { width:.2em; }
::-webkit-scrollbar-track-piece { background-color:transparent; }
::-webkit-scrollbar-thumb { background:rgba(50,50,50,.3); }

::selection { background-color:rgba(255,255,0,.5); }
::-moz-selection { background-color:rgba(255,255,0,.5); }


.menu-button {
	display:none; position:absolute; left:0; top:0;
	-moz-user-select:none; -webkit-user-select:none; -ms-user-select:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent grey flash when clicking */
}

/* Smartphones (portrait and landscape) ----------- */

/* keep in sync with value in utils.js */
@media (max-width:1024px) {
	body>.scrollbox{
		position: absolute; width:100%; margin: 0;
		overflow-x: hidden;
		left: 0;
		-webkit-transition:all .3s ease; -moz-transition:all .3s ease; transition:all .3s ease;
	}
	.editor {
		top: 50px; padding: 0 14px 50px; font-size:20px;
	}
		.show-aside>.scrollbox { position: fixed; left: 100%; opacity:.2; }

	#date {
		display: none;
	}

	aside {
		opacity:1; font-size:24px; width:85%; background:#fcfcfc url(../img/noise.png) repeat; right:100%;
		-webkit-transition:0.3s right ease; -moz-transition:0.3s right ease; transition:0.3s right ease;
	}
		.show-aside aside { right:15%; }

	.add { padding:4px .5em; }

	.entries {
		overflow-y: auto; /* always show scrollbar on mobile to prevent scroll issues */
	}
	.entries a { padding:10px 0 10px 14px; }
	.entries a:hover, .entries a:focus {
		color: initial; /* prevent flickering when scrolling on mobile */
	}

	.menu-button {
		position:absolute; display:block; padding:14px; cursor:pointer;
		left:0;
		-webkit-transition:all .3s ease; -moz-transition:all .3s ease; transition:all .3s ease;
	}
		.show-aside .menu-button {
			/* expand clickable area to cover document side, prevent selecting of document when in menu */
			padding-bottom:150%; padding-right:30%;
			z-index: 1;
		}

	footer { display:none; }
}


@media print {
	.entries, .menu-button, footer, #remotestorage-widget {
		display:none;
	}

	body, .editor {
		margin:0;
		padding:10px;
		height:auto;
		width:auto;
		position:static;
	}

	#date {
		display: none;
	}
}
