<div>Oh look, it’s Litewrite!</div>

<br>

This is a distraction-free app designed for simple note taking and writing. It works offline and your browser will keep your data saved (nerd facts: AppCache &amp; localStorage). You can also synchronize your notes to different devices using the open remoteStorage standard. Just check out the widget in the top right to get started.

<br><br>

And Litewrite is open source, meaning you can help make it better! If you have any problems or suggestions let us know at http://github.com/litewrite/litewrite/issues

<br><br>

Cool you’re here, hope you like it!

<br><br>

Jorin &amp; Jan-Christoph

<br><br><br><br>


By the way, you can also use shortcuts to work more quickly:
<br>
- Alt + n: new document
<br>
- Alt + f: focus search field
<br>
- Alt + ↑: switch to document above
<br>
- Alt + ↓: switch to document below
<br>
(on Mac it's Ctrl instead of Alt)
